@model LibraryManagementSystem.Models.Book

@{
    ViewData["Title"] = "Detail";
}
<link rel="stylesheet" href="~/features/Book/Detail/book.css" />
<div class="book-detail">
    <div class="book-detail-left">
        <div class="book-detail-left-img">
            <div>
                <img id="largeImage" src="@Url.Action("GetBookImage", "Book", new { bookId = Model.Id })" alt="Book Image" class="large-image" />
            </div>
        </div>
    </div>
    <div class="book-detail-right">

        <!--contain book's name and authors's name-->
        <div class="book-detail-right-name">
            <h1> @Html.DisplayFor(model=>model.Name) </h1>
        </div>
        <div class="book-detail-right-authors">
            <p> Tác giả: 
                @{
                    var isFirstAuth = true;
                    foreach (var auth in Model.Authors)
                    {
                        @if (!isFirstAuth)
                        {
                            <a>, @auth.Name</a>
                        }
                        else
                        {
                            <a>@auth.Name</a>
                            isFirstAuth = !isFirstAuth;
                        }
                    }
                }
            </p>
        </div>

        <div class="book-detail-right-desc">
            <p class="info-title"> Mô tả: </p>
            <p>
                @Html.DisplayFor(model=> model.Description )
            </p>
        </div>

        <!--contain simple publisher information -->
        <div class="book-detail-right-publisher-info">
            <div id="book-detail-right-publisher-info-date">
                <p class="info-title"> Ngày phát hành </p>
                <p> @Html.DisplayFor(model=>model.PublishYear) </p>
            </div>
            <div id="book-detail-right-publisher-info-name">
                <p class="info-title"> Nhà phát hành </p>
                <p> @Html.DisplayFor(model => model.PublisherNavigation.Name) </p>
            </div>
            @if(User.IsInRole("ADMINISTRATOR")) {
                <div id="book-detail-right-publisher-info-name">
                    <p class="info-title"> Nhà cung cấp </p>
                    <a asp-action="DetailVendor" asp-controller="Vendor" asp-route-id="@Model.Vendor">@Model.VendorNavigation.Name</a>
                </div>
            } else {
                <div id="book-detail-right-publisher-info-name">
                    <p class="info-title"> Nhà cung cấp </p>
                    <p> @Html.DisplayFor(model => model.VendorNavigation.Name) </p>
                </div>
            }
        </div>

        <!--contain infomation language and pages-->
        <div class="book-detail-right-simple-info">
            <div id="book-detail-right-simple-info-lang">
                <p class="info-title"> Ngôn ngữ </p>
                <p> @Html.DisplayFor(model => model.Language) </p>
            </div>
            <div id="book-detail-right-simple-info-page">
                <p class="info-title"> Số trang </p>
                <p> @Html.DisplayFor(model => model.PageNumber) </p>
            </div>
        </div>

        <!--contain book's category -->
        <div>
            <div id="book-detail-right-category">
                <p>
                    <b> Thể loại: </b>
                    @{
                        var isFirstCateg = true;
                        foreach (var categ in Model.Categories)
                        {
                            @if (!isFirstCateg)
                            {
                                <a>, @categ.Name</a>
                            }
                            else
                            {
                                <a>@categ.Name</a>
                                isFirstCateg = !isFirstCateg;
                            }
                        }
                    }
                </p>
            </div>
        </div>

        <div class="book-detail-series">
            <div id="book-detail-right-series">
                <p>
                    <b> Thuộc về series: </b>
                    @Html.DisplayFor(model=>model.SeriesNavigation.Name)
                </p>
            </div>
        </div>

        <div class="book-detail-isbn">
                <p>
                    <b> Mã ISBN: </b>
                    @Html.DisplayFor(model => model.Isbn)
                </p>
        </div>

        <div class="book-detail-version">
            <p>
                <b> Phiên bản: </b>
                @Html.DisplayFor(model=>model.Version)
            </p>
        </div>

        @if (User.IsInRole("ADMINISTRATOR, LIBRARIAN"))
        {
            <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-outline-primary">
                <div>
                    Update
                </div>
            </a>
        }

    </div>

</div>

<script>
    function showLargeImage(img) {
        const largeImage = document.getElementById("largeImage");
        largeImage.src = img.src;
    }
</script>


