@model IEnumerable<LibraryManagementSystem.Models.Book>

<h1>Book List</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Publisher</th>
        <th>Vendor</th>
        <th>Year</th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Id</td>
            <td>@book.Image</td>
            <td>@book.Name</td>
            <td>@book.PublisherNavigation?.Name</td>
            <td>@book.VendorNavigation?.Name</td>
            <td>@book.PublishYear</td>
        </tr>
    }
</table>
